<!DOCTYPE html>
<html lang="en">
  <html>
   <style>
     
     body{
        font-family:Georgia, Times,serif;}
     h1, p{ text-align: center;
         ;}
     form { margin: 0 auto;
      width: 250px
   }
   .header {
  padding: 15px;
  width: 100%;
  top: 0;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}

   
   </style>
  
   <body style = "background-color :LightBlue;">
      <div class = "header">
         <h1>Instrument & Pitch Identifier</h1>
      </div>
      <di id = "loader">
         <h1>Upload Audio File</h1>
      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form> 
      </div>
   </body>
  </html>
</html>